// Blockquote with all children centered.
.blockquote-center {
  //border-left: none;
  //margin: 40px 0;
  //padding: 0;
  //position: relative;
  //text-align: center;
  position: relative;
  margin: 10px 0;
  padding: 0;
  border-left: none;
  text-align: center;
  background-color: #fff;


  .fa {
    display: block;
    opacity: .6;
    position: absolute;
    width: 100%;
  }

  .fa-quote-left {
    border-top: 1px solid $grey-light;
    text-align: left;
    top: -20px;
  }

  .fa-quote-right {
    border-bottom: 1px solid $grey-light;
    text-align: right;
    bottom: -20px;
  }

  p, div {
    text-align: center;
  }
}
.blockquote-center::before, .page-home .post-type-quote blockquote::before, .page-post-detail .post-type-quote blockquote::before{
  top: -20px;
  background-image: url(//51world.win/images/quote-l.svg);
  border-top: 1px solid #ccc;
}
.blockquote-center::after, .page-home .post-type-quote blockquote::after, .page-post-detail .post-type-quote blockquote::after {
  bottom: -20px;
  background-image: url(//51world.win/images/quote-r.svg);
  border-bottom: 1px solid #ccc;
  background-position: 100% 8px;
}
